
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" >
    <h1 class="display-4" > Welcome</h1 >
        @if (ViewBag.email == false)
        {
    <form action="../Home/UpdateUserName" method="post">
        What's your name? <input type="text" name="name" maxlength="20"/>'
                          <input type="submit" name="submit" value="submit" />
    </form>
        }
    <p >
    Thank you for using our application. Jump over to the Discover tab and find some restaurants in the
    area. Ever been in a gathering where everyone amongst you has difficulties finding a place you would all
    enjoying eating at? Let us help. Go over to the Group tab, and we will find all the restaurants
    you have in common.
    </p >
    </div >