
@{
    ViewData["Title"] = "JoinGroup";
}

<h1>Join Group</h1>
<p>Input the Group ID that was shared with you here</p>
<form action="../Group/JoinGroup" method="post">
    Group ID: <input type="text" name="GroupId" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" /><br />
    <input type="submit" value="Join Group" />
</form>