
@{
    ViewData["Title"] = "New Group";
}

<h1>Group Creation</h1>

<form action="../Group/CreateGroup" method="post">
    <input class="bg-light input-group-text input-group-prepend" pattern="[A-z,0-9]{3-15}" type="text" name="Name" placeholder="Group Name" />
    <input required type="radio" name="Type" value="Family" />Family &emsp;
    <input type="radio" name="Type" value="Friends" />Friends<br />
    &nbsp; <input type="radio" name="Type" value="Co-Workers" />Co-Workers &ensp;
    <input type="radio" name="Type" value="Team" />Team<br />
    <input class="btn btn-success" type="submit" value="Create" />
</form>